@import "tailwindcss";

@layer base {
  * {
    border-radius: 0px !important;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #e5e2e1;
    font-family: 'JetBrains Mono', monospace;
  }

  h1, h2, h3, h4, .font-title {
    font-family: 'Space Grotesk', sans-serif;
  }
}

/* Scrollbar técnico brutalista */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #262626;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4ff00;
}
